boto3==1.7.78
celery==4.2.1
certifi==2018.4.16
chardet==3.0.4
Django==2.0.5
django-celery-beat==1.1.1
django-rest-framework==0.1.0
django-rest-swagger==2.2.0
django_celery_results==1.0.1
django-redis==4.9.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
djforge_redis_multitokens==0.0.4
elasticsearch==6.2.0
et-xmlfile==1.0.1
git+git://github.com/innovaccer/python-video-converter.git
idna==2.6
jdcal==1.4
jsonschema==2.6.0
lml==0.0.1
openpyxl==2.5.4
pillow==5.2.0
psycopg2-binary==2.7.5
pyexcel==0.5.8
pyexcel-io==0.5.7
pyexcel-xlsx==0.5.6
python-dateutil==2.7.3
python-dotenv==0.8.2
python-magic==0.4.15
pytz==2018.4
raven==6.9.0
redis==2.10.6
requests==2.18.4
six==1.11.0
texttable==1.4.0
ujson==1.35
urllib3==1.22
pyfcm==1.4.5
